In [1]:
import pandas as pd

out_folder = './servises/super_semisuper_anomaly_detection_services/data'
csv_file_name = 'caravan-insurance-challenge'
ext = '.csv'

In [2]:
# Read in data and separate into training and testing sets
data = pd.read_csv('data-example/'+csv_file_name+ext)
train = data[data['ORIGIN'] == 'train']
test = data[data['ORIGIN'] == 'test']

# Drop the unneeded columns
train = train.drop(columns = ['ORIGIN'])
test = test.drop(columns = ['ORIGIN'])

# Rename the last column to 'label'
train.rename(columns={'CARAVAN': 'label'}, inplace=True)
test.rename(columns={'CARAVAN': 'label'}, inplace=True)

In [3]:
len(train.columns)

86

In [4]:
train.columns

Index(['MOSTYPE', 'MAANTHUI', 'MGEMOMV', 'MGEMLEEF', 'MOSHOOFD', 'MGODRK',
       'MGODPR', 'MGODOV', 'MGODGE', 'MRELGE', 'MRELSA', 'MRELOV', 'MFALLEEN',
       'MFGEKIND', 'MFWEKIND', 'MOPLHOOG', 'MOPLMIDD', 'MOPLLAAG', 'MBERHOOG',
       'MBERZELF', 'MBERBOER', 'MBERMIDD', 'MBERARBG', 'MBERARBO', 'MSKA',
       'MSKB1', 'MSKB2', 'MSKC', 'MSKD', 'MHHUUR', 'MHKOOP', 'MAUT1', 'MAUT2',
       'MAUT0', 'MZFONDS', 'MZPART', 'MINKM30', 'MINK3045', 'MINK4575',
       'MINK7512', 'MINK123M', 'MINKGEM', 'MKOOPKLA', 'PWAPART', 'PWABEDR',
       'PWALAND', 'PPERSAUT', 'PBESAUT', 'PMOTSCO', 'PVRAAUT', 'PAANHANG',
       'PTRACTOR', 'PWERKT', 'PBROM', 'PLEVEN', 'PPERSONG', 'PGEZONG',
       'PWAOREG', 'PBRAND', 'PZEILPL', 'PPLEZIER', 'PFIETS', 'PINBOED',
       'PBYSTAND', 'AWAPART', 'AWABEDR', 'AWALAND', 'APERSAUT', 'ABESAUT',
       'AMOTSCO', 'AVRAAUT', 'AAANHANG', 'ATRACTOR', 'AWERKT', 'ABROM',
       'ALEVEN', 'APERSONG', 'AGEZONG', 'AWAOREG', 'ABRAND', 'AZEILPL',
       'APLEZIER', 'AFIETS', 'AINBOED', 'ABYSTAND', 'label'],
      dtype='object')

In [5]:
train.to_csv('{}/train_{}.csv'.format(out_folder, csv_file_name), index=False)
train.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,label
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [6]:
test.to_csv('{}/test_{}.csv'.format(out_folder, csv_file_name), index=False)
test.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,label
5822,33,1,4,2,8,0,6,0,3,5,...,0,0,0,1,0,0,0,0,0,0
5823,6,1,3,2,2,0,5,0,4,5,...,0,0,0,1,0,0,0,0,0,1
5824,39,1,3,3,9,1,4,2,3,5,...,0,0,0,1,0,0,0,0,0,0
5825,9,1,2,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
5826,31,1,2,4,7,0,2,0,7,9,...,0,0,0,1,0,0,0,0,0,0