In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/flights.csv")
df

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2014,1,1,1.0,96.0,235.0,70.0,AS,N508AS,145,PDX,ANC,194.0,1542,0.0,1.0
1,2014,1,1,4.0,-6.0,738.0,-23.0,US,N195UW,1830,SEA,CLT,252.0,2279,0.0,4.0
2,2014,1,1,8.0,13.0,548.0,-4.0,UA,N37422,1609,PDX,IAH,201.0,1825,0.0,8.0
3,2014,1,1,28.0,-2.0,800.0,-23.0,US,N547UW,466,PDX,CLT,251.0,2282,0.0,28.0
4,2014,1,1,34.0,44.0,325.0,43.0,AS,N762AS,121,SEA,ANC,201.0,1448,0.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2014,1,2,701.0,1.0,826.0,-4.0,WN,N904WN,2885,PDX,SMF,70.0,479,7.0,1.0
496,2014,1,2,701.0,1.0,1038.0,-7.0,WN,N8613K,669,SEA,PHX,139.0,1107,7.0,1.0
497,2014,1,2,702.0,34.0,1447.0,35.0,UA,N538UA,250,PDX,IAD,257.0,2327,7.0,2.0
498,2014,1,2,703.0,-2.0,912.0,-7.0,OO,N219AG,3460,PDX,ONT,109.0,838,7.0,3.0
499,2014,1,2,704.0,-6.0,1535.0,21.0,DL,N3748Y,2258,PDX,JFK,285.0,2454,7.0,4.0